body{
    display: flex;
}

.leftside{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-around;
}

.redtext {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 14px;
}

.explanation{
    height: 400px;
    background-color: silver;
    margin: 50px;
}

.buttonfield2{
    display: flex;
    height: 70px;
    margin: 10px;
}

button{
    flex: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: silver;
}

#almostthere{
    font-weight: bold;
    font-size: xx-large;
}

#calculationdisplay{
    font-size: x-large;
}

.rightside{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.mainscreen{
    flex: 3;
    background-color: silver;
    margin: 10px;
}

.currentscoreshow{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}